*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
html[data-theme=light-theme]{
    --backcolor:#fff;
    --encabezado-color: #f8f9fe;
    --titulo-color:#202028;
    --subtitulo-color:#8c8f98;
    --selector-color:#ccc;
    --color-tarjetas:#f0f3fa;
    --hover-tarjetas:#cfd2da;
    --color-name:#6e7077;
    --color-num:#000;
    --color-up:#4fc088;
    --color-down:#d42e2e;
    --color-link:#6440e4;

}
html[data-theme=dark-theme]{
    --backcolor:#1d2029;
    --encabezado-color: #20222f;
    --titulo-color:#fff;
    --subtitulo-color:#6b6f89;
    --selector-color:#ccc;
    --color-tarjetas:#252b43;
    --hover-tarjetas:#333a56;
    --color-name:#737c9c;
    --color-num:#fff;
    --color-up:#4fc088;
    --color-down:#d42e2e;
    --color-link:#3106ce;
}
body{
    background-color:var(--backcolor);
}
.container{
    padding: 30px 100px;
}
.encabezado{
    background-color: var(--encabezado-color);
    height: 200px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    display:flex;
    justify-content: space-between;
}
.encabezado__tittle h1{
    font-size: 28px;
    color: var(--titulo-color);
}
.encabezado__tittle span{
    font-weight: bold;
    color: var(--subtitulo-color);
}

hr{
    visibility: hidden;
}
.encabezado__mode{
    height: 35px;
    margin-right: 42px;
    display: inline-block;
} 
.encabezado__mode label{
    font-weight: bold;
    color: var(--subtitulo-color);
    margin-right: 5px;
}
.encabezado__mode input{
    position: absolute;
    z-index: 10;
    opacity: 0; 
    width: 40px;
    height: 20px;
}
.encabezado__mode .slider{
    position: absolute;
    cursor: pointer;
    width: 40px;
    height: 20px;
    background-color: var(--selector-color);
    transition: .4s;
    right: 100px;
    border-radius: 30px;
    -webkit-transition: .4s;
}
.statusOFF{
    display: none;
}
.statusON{
    visibility:visible;
}
.encabezado__mode .slider::before{
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    top: 1.7px;
    right:2.5px;
    border-radius: 50%;
    background-color: var(--backcolor);
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider{
    background:linear-gradient(to right, #378fe6, #3eda82);
    background: -webkit-linear-gradient(to right, #378fe6, #3eda82);
}
input:checked + .slider::before{
    -webkit-transform: translateX(-18px);
    -ms-transform: translateX(-18px);
    transform: translateX(-18px);
}
.followers{
    margin-top: -150px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:20px;
}
.oculto{
    display: none;
}
.followers__redes{
    background-color: var(--color-tarjetas);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    padding: 20px 30px;
    height: 170px;
    margin-bottom: 30px;
}
.followers__redes:hover{
    background-color:var(--hover-tarjetas);
}
.fb{
    border-top:4px solid #198ff5;
}
.tw{
    border-top: 4px solid  #198ff5;
}
.ig{
    height: 174px;
}
.ig::before{
    background: linear-gradient(to right, #fdc468, #df4996);
    content: "";
    margin-top: -20px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    width: calc(100% + 60px);
    height: 4px;
}
.yt{
    border-top: 4px solid #c4032a;
}
.followers__redes-nickname{
   display: flex;
   align-self: center;
   margin-top: 0;
}
.followers__redes-nickname .nickname{
    font-weight: bold;
    font-size: 15px;
    color: var(--color-name);
    margin-left:8px;
}
.followers__redes .num{
    font-size: 50px;
    font-weight: bold;
    color: var(--titulo-color);
}
.followers__redes .follow-num{
    letter-spacing: 6px;
    margin-top: -15px;
    margin-bottom: 12px;
    font-size: 12px;
    color: var(--color-name);
    font-weight: lighter;
    text-transform: uppercase;
}
.followers__redes .num-hoy{
    display: flex;
    align-items: center;
}
.followers__redes .num-hoy img{
    height: 8px;
    width: 8px;
}

.overview{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}
.overview h2{
    font-size: 25px;
    color: var(--subtitulo-color);
    grid-column: span 4;
}
.overview .actividad{
    background-color: var(--color-tarjetas);
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 25px;
    row-gap: 10px;
}
.overview .actividad:hover{
    background-color:var(--hover-tarjetas);
}
.overview .actividad .view{
    justify-self: flex-start;
}
.overview .actividad img, .overview .actividad .porcentaje{
    justify-self: flex-end;
}
.overview .actividad .view{
    font-weight: bold;
    font-size: 15px;
    color: var(--color-name);
}
.overview .actividad .view-num{
    font-weight: bold;
    color: var(--color-num);
    font-size: 28px;
    align-self: flex-end;
}
.overview .actividad .porcentaje{
    align-self: flex-end;
}
.overview .actividad .porcentaje img{
    height: 8px;
    width: 8px;
}
.up{
    color: var(--color-up);
    margin-left: 5px;
    font-weight: bold;
    font-size: 12px;
}
.down{
    color: var(--color-down);
    margin-left: 5px;
    font-weight: bold;
    font-size: 12px;
}
.attribution{
    color:var(--color-num);
}
.attribution a{
    color: var(--color-link);
}
@media only screen and (max-width:1030px) and (min-width:750px){
    input:checked + .slider{
        background:linear-gradient(to right, #378fe6, #3eda82);
        background: -webkit-linear-gradient(to right, #378fe6, #3eda82);
    }
    input:checked + .slider::before{
        -webkit-transform: translateX(-18px);
        -ms-transform: translateX(-18px);
        transform: translateX(-18px);
    }
    .followers{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .followers__redes{
        width: 35%;
    }
    .overview{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .overview h2{
        width: 100%;
    }
    .overview .actividad{
        width: 37%;
    }
    
}
@media only screen and (max-width:750px) and (min-width:300px){
    input:checked + .slider{
        background:linear-gradient(to right, #378fe6, #3eda82);
        background: -webkit-linear-gradient(to right, #378fe6, #3eda82);
    }
    input:checked + .slider::before{
        -webkit-transform: translateX(-18px);
        -ms-transform: translateX(-18px);
        transform: translateX(-18px);
    }
    .encabezado__mode input{
        position: relative;
        z-index: 10;
        opacity: 0; 
        width: 60px;
        height: 20px;
    }
    .encabezado{
        display: block;
    }
    .encabezado__tittle h1{
        font-size: 18px;
    }
    .encabezado__tittle span{
        font-size: 14px;
    }
    hr{
        margin: 10px 0;
        visibility: visible;
    }
    .encabezado__mode{
        display: flex;
        width: 100%;
        justify-content:space-between;
    }
    .encabezado__mode .slider{
        right: 50px;
    }
    .container{
        padding: 30px 50px ;
    }
    .followers{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .followers__redes{
        width: 100%;
    }
    .overview{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .overview h2{
        width: 100%;
    }
    .overview .actividad{
        width: 100%;
        padding: 35px;
    }
  
} 
